.staff-display {

    background-color: white;
}


h1 {
    color: white !important;
    font-family:fantasy
}

div {
    font-family:fantasy;
}

h2 {
    color: white !important;
}

a {
    color:rgb(15, 4, 100);
    font-size: 70px;
}


.staff-name{

    color:rgb(13, 13, 215);
    font-size: 70px;
}


.staff-title{

    color:rgb(212, 44, 44);
    font-size: 30px;
    font-weight: bold;
}

.staff-job{
    color: rgb(0, 0, 0);
    font-size: medium;
}

#staff-task {
    color: white;
}

h3 {

    color: white !important;
}

.idx-img {
    width: 200px;
    height: 200px;
}

.big-header {
    height: 400px;
    background-color: beige;
    background-image: url("https://media.giphy.com/media/QMkPpxPDYY0fu/giphy.gif");
    background-size:cover;
   
}

.big-header h2 {
    font-size: 75px;
    line-height: 6;
}

.staff-display img {
    border-radius: 50%;
}

.each-staff {
    border: 1px solid white;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #697a9a;
    border-radius: 25px;
}

button a {
    text-decoration: none;
    color: black;
}


ul {
    border-radius: 4px !important;
    margin-bottom: 10px !important;
}

.task-list {
    background-color:cornflowerblue !important;
}