body{

    background-image: url("Assets/header.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
}
.staff-display {

    background-color: white;
}

.top-title {
    background-image: url("assets/header.gif");
    background-size: cover;
    background-position: 100%;
    color: black;
}

h1 {
    color: white !important;
}

div {
    font-family:'Times New Roman', Times, serif
}

h2 {
    color: white !important;
}

.staff-name a, .staff-name{

    color:blue;
    font-size: 30px;
}


.staff-title{

    color:rgb(212, 44, 44);
    font-size: large;
}

.staff-job{
    color: rgb(0, 0, 0);
    font-size: medium;
}

#staff-task {
    color: white;
}

h3 {

    color: white !important;
}

.idx-img {
    width: 200px;
    height: 200px;
}

.big-header {
    height: 300px;
    background-color: beige;
    background-image: url("https://media4.giphy.com/media/3osxYcwi3hCVbzNYqY/giphy.gif?cid=ecf05e472u6es7y3km3ruy9t9uxwze1dcrk07ekqj0eucqsb&rid=giphy.gif&ct=g");
    background-size: cover;
}

.big-header h2 {
    font-size: 50px;
    line-height: 6;
}

.staff-display img {
    /* border-radius: 50%; */
}

.each-staff {
}

button a {
    text-decoration: none;
    color: black;
}